@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 50px;
}

.logo-name {
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 100%;
    padding-left: 20px;
    align-items: center;
    gap: 10px;
}

.logo-name>.logo {
    width: 18%;
    height: auto;
}

.logo-name>.name {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.5rem;
    color: #f0eded;
}



nav {
    width: 70%;
    height: 100%;
}

nav>ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

nav>ul>li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #bebdbd;
    font-size: 1rem;
    font-family: 'Almarai';
    font-weight: 500;
    transition: 0.5s;
}

nav>ul>li>a {
    text-decoration: none;
    color: #bebdbd;
    transition: 0.5s;
}

nav>ul>li>a:hover {
    transition: 0.5s;
    color: #f0eded;
}

.icons-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    color: #bebdbd;
    width: 15%;
    height: 100%;
}

.icons-social-media>i {
    transition: 0.5s;

}

.icons-social-media>i:hover {
    transition: 0.5s;
    color: #f0eded;
}


/** --------------------------------------------------- */

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5)), url('../images/Planteles/backgrund-plantel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 100px;
    align-items: center;
    justify-content: space-evenly;
}


main>.description {
    font-family: 'DM Sans';
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    text-align: justify;
    width: 50%;
    color: #ccc4c4;
}

main>.image {
    display: grid;
    place-content: center;
    width: clamp(20rem, 30%, 40%);
}

main>.image>img {
    width: 100%;
}

@media(max-width: 498px) {
    main {
        flex-direction: column;
        padding: 30px;
    }

    main>.description {
        width: 100%;
    }
}

/** --------------------------------------------------- */

section {
    min-height: 300px;
    width: 100%;
    padding: 30px 20px 0 20px;
}

section>.group-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

section>.group-button>button {
    display: inline-block;
    padding: 7px 25px;
    border: solid 2px;
    font-family: 'DM Sans';
    font-size: 1rem;
    font-weight: 400;
    transition: 0.3s;
}

section>.group-button>.active {
    border-color: #131212;
    background-color: #2D55E2;
    color: #f0eded;
}

section>#information {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section>#information>h2 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 2rem;
}

section>#information>h2>span {
    color: #2D55E2;
}

section>#information>p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.1rem;
}

section>#information>h2,
p {
    margin: 0 auto;
}

/** -------------------------------------------------------------------------- */

footer {
    background-color: #000;
    color: #E6E6E6;
    width: 100%;
    text-align: center;
    padding-bottom: 3vh;
}

footer>.container {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 5vh 10vw;
    grid-auto-flow: row;
    grid-template-areas:
        "about contactos"
        "redes contactos";
    padding: 5vh 0 0 8vh;
}

h4 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.4rem;
}

.contacts {
    grid-area: contactos;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.contacts>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

.contacts>ul>li {
    font-family: 'DM Sans';
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.contacts>ul>li>p {
    display: inline-block;
    font-size: 1rem;
}

.about-us {
    grid-area: about;
}

.about-us>p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    margin-top: 10px;
}

.social-media {
    grid-area: redes;
}

.social-media>.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.social-media>.icons>.media {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-media>.icons>.media>.name {
    display: inline-block;
    font-family: 'DM Sans';
    font-size: 1rem;
}

footer>p {
    margin-top: 7vh;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.1rem;
}