<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script async src="https://basicons.xyz/embed.js"> </script>
    <script src="https://kit.fontawesome.com/f16a9737d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/alumnos.css">
    <link rel="icon" href="../static/images/CEIT.png">
    <link rel="stylesheet" href="../static/css/darkLighMode.css">
    <title>Alumnos</title>
</head>

<body class="body light">
    <header>
        <div class="logo-name">
            <img class="logo" src="../static/images/CEIT.png" alt="logo-ceit">
            <p class="name">CEIT</p>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="#"><i class="fa-solid fa-graduation-cap"></i> Oferta educativa</a></li>
                <li><a href="planteles.html"><i class="fa-solid fa-school"></i> Planteles</a></li>
                <li><a href="#"><i class="fa-solid fa-user-graduate"></i> Alumnos</a></li>
            </ul>
        </nav>
        <div class="icons-social-media">
            <i id="toggle" class='bx bx-sun' style="font-size: 1.5rem; cursor: pointer;"
                onclick="toggleNightMode()"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class='bx bxl-gmail'></i>
        </div>
    </header>
    <main>
        <div class="login">
            <div class="header">
                <img src="../static/images/CEIT.png"">
                <h1>CEIT</h1>
            </div>
            <div class=" container">
                <div class="input">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="username">
                </div>
                <div class="input password">
                    <i class="fa-solid fa-key"></i>
                    <input id="password" type="password" placeholder="password">
                    <img id="eye" src="../static/images/alumnos/eye-open.png" alt="" onclick="showPassword()">
                </div>
                <a class="reset-password" href="#"> -Olvide mi contraseña- </a>
            </div>
            <input class="btn-submit" type="submit" value="Iniciar Sesion">
        </div>
    </main>
</body>
<script src="../static/js/showPassword.js"></script>
<script src="../static/js/changeModeNocturne.js"></script>

</html>