<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/oferta_educativa.css">
	<link rel="stylesheet" href="../static/css/navbarScroll.css">
    <title>CEIT</title>
</head>

<body>
    <header>
        <div class="logo-name">
            <img class="logo" src="../static/images/CEIT.png" alt="logo-ceit">
            <p class="name">CEIT</p>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="oferta_educativa.html"><i class="fa-solid fa-graduation-cap"></i> Oferta educativa</a></li>
                <li><a href="planteles.html"><i class="fa-solid fa-school"></i> Planteles</a></li>
                <li><a href="#"><i class="fa-solid fa-user-graduate"></i> Alumnos</a></li>
            </ul>
        </nav>
        <div class="icons-social-media">
            <i id="toggle" class='bx bx-sun' style="font-size: 1.5rem; cursor: pointer;"
                onclick="toggleNightMode()"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class='bx bxl-gmail'></i>
        </div>
    </header>

    
</body>

</html>