<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/f16a9737d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/planteles.css">
	<link rel="stylesheet" href="../static/css/navbarScroll.css">
    <link rel="stylesheet" href="../static/css/darkLighMode.css">
    <title>CEIT</title>
</head>

<body class="body light">
    <header id="menu">
        <div class="logo-name">
            <img class="logo" src="../static/images/CEIT.png" alt="logo-ceit">
            <p class="name">CEIT</p>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="#"><i class="fa-solid fa-graduation-cap"></i> Oferta educativa</a></li>
                <li><a href="#"><i class="fa-solid fa-school"></i> Planteles</a></li>
                <li><a href="alumnos.html"><i class="fa-solid fa-user-graduate"></i> Alumnos</a></li>
            </ul>
        </nav>
        <div class="icons-social-media">
            <i id="toggle" class='bx bx-sun' style="font-size: 1.5rem; cursor: pointer;"
                onclick="toggleNightMode()"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class='bx bxl-gmail'></i>
        </div>
    </header>
    <main>
        <div class="description">
            <p>Descubre nuestros planteles en diferentes localidades, del estado de veracruz cada uno ofreciendo un
                entorno único para el aprendizaje. Con un compromiso inquebrantable con la excelencia educativa,
                estamos presentes en diversas comunidades, brindando oportunidades de educación de calidad en todo
                momento.</p>
        </div>
        <div class="image">
            <img src="../static/images/Planteles/Programming-rafiki 1.png" alt="">
        </div>
    </main>
    <section>
        <div class="group-button">
            <button id="1" class="btn active" onclick="mostrarInformacion('minatitlan', '1')">Minatitlan</button>
            <button id="2" class="btn " onclick="mostrarInformacion('altotonga', '2')">Altotonga</button>
            <button id="3" class="btn " onclick="mostrarInformacion('acayucan', '3')">Acayucan</button>
            <button id="4" class="btn " onclick="mostrarInformacion('sanAndresTuxtla', '4')">San Andres Tuxtla</button>
            <button id="5" class="btn " onclick="mostrarInformacion('misantla', '5')">Misantla</button>
            <button id="6" class="btn " onclick="mostrarInformacion('martinez', '6')">Martinez</button>
        </div>
        <div id="information">
            <h2>CEIT <span id="name">Minatitlan</span></h2>
            <p><strong>Dirección:</strong> Av. Miguel Hidalgo #32 Col. Centro</p>
            <p><strong>Teléfono:</strong> 922-223-94-65</p>
            <p><strong>Correo Electrónico:</strong> ceit_minatitlan@outlook.com</p>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="contacts">
                <h4>Contactanos</h4>
                <ul>
                    <li>
                        <i class="fa-solid fa-envelope" style="font-size: 1.9rem;"></i>
                        <p>CeitMexico@ceit.edu.mx</p>
                    </li>
                    <li>
                        <i class="fa-brands fa-whatsapp" style="font-size: 2rem;"></i>
                        <p>922-123-4362</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone" style="font-size: 1.9rem;"></i>
                        <p>922-123-4362</p>
                    </li>
                </ul>
            </div>
            <div class="about-us">
                <h4>Acerca de nosotros</h4>
                <p>Somos una institución de educación en informática que ha estado marcando la diferencia en la vida de
                    nuestros estudiantes desde [año de fundación]. Nuestro equipo de educadores altamente calificados y
                    apasionados está dedicado a brindarte la mejor experiencia de aprendizaje posible. Creemos en la
                    combinación de educación práctica y teórica para formar profesionales altamente competentes y
                    preparados
                    para enfrentar los desafíos del mundo digital en constante evolución.</p>
            </div>
            <div class="social-media">
                <h4>Síguenos en nuestra redes</h4>
                <div class="icons">
                    <div class="media">
                        <i class="fa-brands fa-facebook" style="font-size: 1.8rem;"></i>
                        <p class="name">CEIT México</p>
                    </div>
                    <div class="media">
                        <i class="fa-brands fa-x-twitter" style="font-size: 1.8rem;"></i>
                        <p class="name">@CEIT México</p>
                    </div>
                    <div class="media">
                        <i class="fa-brands fa-youtube" style="font-size: 1.8rem;"></i>
                        <p class="name">CEIT México</p>
                    </div>
                </div>
            </div>
        </div>
        <p>&copy; 2024 CEIT Mexico. Todos los derechos reservados.</p>
    </footer>
</body>
<script src="../static/js/changeModeNocturne.js"></script>
<script src="../static/js/planteles.js"></script>
<script src="../static/js/navbar.js"></script>

</html>