<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/student-profile.css">
    <title>CEIT</title>
</head>

<body>
    <main>
        <section class="info-student">
            <h1>Nombre: Fulano de tal</h1>
            <figure class="circle-profile">
                <img src="" alt="">
            </figure>
        </section>
        <section class="table-of-qualifications">
            <table border="2px">
                <thead>
                    <th>word</th>
                    <th>excel</th>
                    <th>power point</th>
                    <th>corelDraw</th>
                    <th>Adobe</th>
                    <th>Java</th>
                    <th>Visual Basic</th>
                    <th>Access</th>
                    <th>Introducción</th>
                    <th>Analisis</th>
                </thead>
                <tbody>
                    <tr>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>